<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<h1><%= title %></h1>
<p>Welcome to the TechTalent Hub home page!</p>
<a href="/login">Login</a>
<%- include('../partials/footer') %>